################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.jfm
/RMSData/RMSData.dbmdl
/.vs/RetailManagementSystem/FileContentIndex/ae2de321-1415-43c4-a4e3-40cdb5eb2449.vsidx
/.vs/RetailManagementSystem/FileContentIndex/2b604d28-5636-49c7-aba7-8f183008dceb.vsidx
/.vs/RetailManagementSystem/FileContentIndex
